<footer class="bg-brand text-white" style="background-color: #330848 ;"> 
    <br> <br> <br> <br> <br> 
    <div class="container p-2">
      <div class="row">
        <div class="mx-auto text-center">
          <p>Registro Personal | &copy;Univerdidad Valle del Momboy - Taller 3</p>
          <p>
            <i class="fab fa-facebook-square fa-2x"></i>
          </p>
        </div>
      </div>
    </div>
  </footer>